@model ProductViewModel

@{
    List<Category> categories = new List<Category>();
}
<div class="text-danger">
    <div asp-validation-summary="All"></div>
</div>
<form method="post" asp-action="Create" asp-controller="Category">
    <label asp-for="ProductName"></label>
    <input asp-for="ProductName" />
    <br />
    <span class="text-danger" asp-validation-for="ProductName"></span>
    <br />
    <label asp-for="UnitPrice"></label>
    <input asp-for="UnitPrice" />
    <br />
    <span class="text-danger" asp-validation-for="UnitPrice"></span>
    <br />
    <label asp-for="CategoryID"></label>
    <select asp-for="CategoryID">
        @foreach(var item in categories)
        {
            <option>@item.CategoryName @item.CategoryId</option>
        }
    </select>
    <br />
    <span class="text-danger" asp-validation-for="CategoryID"></span>
    <br />
    <select asp-for="Discontinued">
        <option>@true Açık</option>
        <option>@false Kapalı</option>
    </select>
    <input type="submit" value="Ekle" class="btn btn-warning" />
</form>