

@{
    ViewData["Title"] = "Home Page";
    //var model = UrunManager.GetUrunler();
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <a class="btn btn-warning" href="https://localhost:44358/Category/Index">Kategoriler</a>
    <br />
    <a class="btn btn-warning" href="https://localhost:44358/Product/Index">Ürünler</a>
</div>
