body {
    background-color: aqua;
}

h1{
    color: red;
    font-size: 35px;
    font-family: Algerian;
    text-align: center;
}
p{
    font-family: Arial;
    font-size: 15px;
    color: green;
    text-align: center;

}
button {
    color: white;
    background-color: black;
    position: relative;
    left:600px;
}